*{
    margin: 0;
    padding: 0;
}
.first{
    background-color: #1f2937;
}
.header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}
.headerR, .headerL{
    display: flex;
}
.headerR{
    display: flex;
    flex-direction: row;
}
.ftwo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.ftwoL, .ftwoR{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.ftwoR{
    display: flex;

}