*{
    margin: 0;
    padding: 0;
}
.first{
    background-color: #1f2937;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
}
#headerlL{
    font-size: 36px;
    color: #f9faf8;
}
.px{
    font-size: 18px;
    color: #E5E7EB;
}
.h1{
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}
.headerR{
    display: flex;
    flex-direction: row;
}
.ftwo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.ftwoL, .ftwoR{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.ftwoR{
    display: flex;

}