*{
    margin: 0;
    padding: 0;
}
.first{
    background-color: #1f2937;
}
.header{
    display: flex;
    flex-direction: row;
}
#headerLL{
    font-size: 36px;
    color: #f9faf8;
}
.px,.pxONE{
    font-size: 18px;
    color: #E5E7EB;
}
h1{
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}
ul{
    display: flex;
    flex-direction: row;
}
.headerR,.headerL{
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
}
.ftwo{
    display: flex;
    flex-direction: row;
}
.ftwoL, .ftwoR{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}
.ftwoL{
    display: flex;
    margin-left: 100px;
}
.ftwoR{
    display: flex;
    margin: 40px;
}
.Button{
    margin-top: 10px;
    margin-right: 200px;
    background-color: blue;
    color: white;
    border-radius: 12px;
    padding: 10px 24px;
}
.pxONE{
    margin-left: 120px;
}
.second{
    display: flex;
    justify-content: center;
    align-items: center;
}
h2{
    font-size: 32px;
    font-weight: bolder;
    color: #1f2937;
}
.boxs{
    display: flex;
    justify-content: center;
    gap: 52px;
}
.index.html{
    max-width: 10px;
    max-height: 10px;
}